body {
  font-family: "Arial", sans-serif;
  background-color: #f0f2f5;
}

h1 {
  color: #007bff;
}

#insightsForm .form-control {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#insightsForm .btn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#results {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#results h2 {
  color: #007bff;
  text-align: center;
}

.card {
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.spinner-border {
  display: block;
  margin: 0 auto;
}
